services:
  vdi:
    build:
      context: .
    image: dneuhaus76/dn-lxqt-xrdp
    container_name: dn-lxqt-xrdp
    shm_size: '2gb'
    restart: always

    volumes:
      - dn-lxqt-xrdp_home:/home

    cap_add:
      - SYS_ADMIN

    devices:
      - "/dev/fuse:/dev/fuse"

    security_opt:
      #- seccomp=./seccomp.json
      - apparmor:unconfined

    ports:
      - "3389:3389"

    networks:
      - dn-lxqt-xrdp

volumes:
  dn-lxqt-xrdp_home:
    name: "dn-lxqt-xrdp_home"

networks:
  dn-lxqt-xrdp:
    driver: bridge
    name: "dn-lxqt-xrdp"
    external: true
