[Desktop Entry]
Version=1.0
Name=export-env-info
Comment=Prints some information at startup
Exec=/usr/local/bin/export-env-info.sh
Hidden=false
Terminal=false
Type=Application
Icon=utilities-terminal
Categories=
GenericName=
