[Desktop Entry]
Version=1.0
Name=Pipewire xrdp modules
Comment=Load Pipewire Modules for xrdp
#Exec=/usr/local/libexec/pipewire-module-xrdp/load_pw_modules.sh
Exec=wird durch Xsession gestartet
Hidden=true
Terminal=false
Type=Application
Categories=
GenericName=
